.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixer is used */
  display: -ms-flexbox; /* Not needed if autoprefixer is used */
  display: flex;
  margin-left: -12px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 12px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { 
  margin-bottom: 12px;
}
